%tr
  %td= link_to(restaurant.name, restaurant_path(restaurant.id))
  %td= restaurant.average_rate
  %td= restaurant.average_cost
  %td.actions
    = link_to(new_restaurant_review_path(restaurant)) do
      %span= t('restaurants.review')
