.col-md-6.col-md-offset-3
  %p#description
    %label.question.font-big= t('home.question')
    %label.description.font-small= t('home.description').html_safe

  = form_tag searches_path do
    .form-group
      = label_tag t('home.cost')
      .input-group
        .input-group-addon $
        = number_field_tag(:lowest_cost, '1', placeholder: t('home.min_cost'),
                            name: 'search[cost][lowest]')
      .input-group
        .input-group-addon $
        = number_field_tag(:highest_cost, '100',  placeholder: t('home.max_cost'),
                            name: 'search[cost][highest]')
    .form-group#rate-group
      = label_tag t('home.rate')
      = number_field_tag(:lowest_rate, '1', placeholder: t('home.min_rate'),
                       name: 'search[rate][lowest]', readonly: 'readonly')
      = number_field_tag(:highest_rate, '5', placeholder: t('home.max_rate'),
                       name: 'search[rate][highest]', readonly: 'readonly')
      #slider-rate

    = submit_tag(t('general.search'))

= content_for :javascript do
  :coffee
    $ ->
      new LoncheTime.Home
