.central-container
  .list-header
    %h3= t('restaurants.restaurants')
    = link_to new_restaurant_path, class: 'btn btn-primary' do
      %span{ class: 'glyphicon glyphicon-plus' }
      %span= t('restaurants.restaurant')

  %table#restaurants-list
    %thead
      %th= t('general.name')
      %th= t('restaurants.average_cost')
      %th= t('restaurants.average_rate')
      %th
    %tbody
      = render partial: 'restaurant_item', collection: @restaurants, as: :restaurant
