.col-md-6.col-md-offset-3
  .list-header
    %h3= t('restaurants.new')

  = form_for(@restaurant) do |f|
    .form-group
      = f.label :name, t('general.name')
      = f.text_field :name, { required: 'required' }
    .form-group
      = f.label :address, t('general.address')
      = f.text_field :address, { required: 'required' }
    .form-group
      = f.label :telephone, t('general.telephone')
      = f.text_field :telephone
    .form-group
      = f.label :average_cost, t('restaurants.spent')
      .input-group
        .input-group-addon $
        = f.text_field :average_cost, { required: 'required' }
    .form-group
      = f.label :average_rate, t('restaurants.set_rate')
      = label_tag :rate, t('restaurants.rate'), class: 'font-small'
      = f.select :average_rate, options_for_select([1, 2, 3, 4, 5], 5)
    .form-group
      = f.label :comments, t('general.comments')
      = f.text_area :comments, placeholder: t('restaurants.comments_holder')
    = f.submit t('general.save')
