.col-md-6.col-md-offset-3
  .list-header
    %h3= @restaurant.name
    = link_to 'Update Restaurant', edit_restaurant_path(@restaurant), class: 'btn btn-primary'
    = link_to('+ Reseña', new_restaurant_review_path(@restaurant), class: 'btn btn-primary')

  %p= "Address: #{@restaurant.address}"
  %p= "Telephone: #{@restaurant.telephone}"
  %p= "Average Cost: $ #{@restaurant.average_cost} MXN"
  %p= "Average Rate: #{@restaurant.average_rate}"
  %p= "Comments: #{@restaurant.comments}"

  #restaurant-reviews
    %h3= 'Reseñas'
    %p= "Total de reseñas: #{@restaurant.reviews.count}"
    %ul
      - @restaurant.reviews.each do |review|
        %li= "#{review.name} | #{review.rate} | $#{review.cost}MXN | #{ review.comments }"
