.col-md-6.col-md-offset-3
  %p.font-big= t('results.message')
  %ul
    - @restaurants.each do |restaurant|
      %li= "#{restaurant.name} | $ #{restaurant.average_cost} MXN | #{restaurant.average_rate}"
