.col-md-6.col-md-offset-3
  .list-header
    %h3= @restaurant.name

  = form_tag(restaurant_reviews_path(@restaurant.id)) do
    .form-group
      = label_tag :name, t('reviews.name')
      = text_field_tag :name, '', { name: 'review[name]', required: 'required' }
    .form-group
      = label_tag :cost, t('restaurants.spent')
      .input-group
        .input-group-addon $
        = text_field_tag :cost, '', { name: 'review[cost]', required: 'required' }
    .form-group
      = label_tag :rate, t('restaurants.set_rate')
      = select_tag :rate, options_for_select([1, 2, 3, 4, 5], 5), { name: 'review[rate]' }
    .form-group
      = label_tag :comments, t('general.comments')
      = text_area_tag :comments, '', name: 'review[comments]'
    .form-group
      = hidden_field_tag :restaurant_id, @restaurant.id, name: 'review[restaurant_id]'
    = submit_tag t('general.save')
