!!!
%html
%head
%title LunchTime
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%body
  #main-menu
    = render 'layouts/main_menu'
  #main-container
    %div{ id: controller_name }
      = yield
  = yield :javascript
